<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:output method="xml" encoding="UTF-8" indent="yes"/>

  <!-- tożsamościowa kopia -->
  <xsl:template match="@*|node()">
    <xsl:copy><xsl:apply-templates select="@*|node()"/></xsl:copy>
  </xsl:template>

  <!-- usuń interfejs wygenerowany przez providera (jeśli jest) -->
  <xsl:template match="/domain/devices/interface"/>

  <!-- dołóż interfejs passt z przekierowaniem SSH na 127.0.0.1:${ssh_port} -->
  <xsl:template match="/domain/devices">
    <xsl:copy>
      <xsl:apply-templates select="@*|node()"/>
      <interface type="user">
        <backend type="passt"/>
        <model type="virtio"/>
        <portForward proto="tcp" address="127.0.0.1">
          <range start="${ssh_port}" to="22"/>
        </portForward>
      </interface>
    </xsl:copy>
  </xsl:template>
</xsl:stylesheet>
